.rating {
    direction: rtl; /* Allows for right-to-left rating */
}

.rating input {
    display: none; /* Hide radio buttons */
}

.rating label {
    cursor: pointer;
    color: lightgray; /* Default star color */
}

.rating input:checked ~ label {
    color: gold; /* Selected star color */
}

.rating label:hover,
.rating label:hover ~ label {
    color: gold; /* Hover star color */
}

.rating-star.checked {
    color: gold; /* Color for selected stars */
}

.rating-container {
    font-size: 11px;
}

.rating-container p{
    margin-bottom: 5px;
}

.rating-container button {
    font-size: 10px;
    padding: 3px;
    text-align: center;
    margin-top: 5px;
    width: 100%;
}

.rating-popup{
    position: fixed;
    top: 50%; 
    left: 50%; 
    text-align: center;
    transform: translate(-50%, -50%); 
    background-color: white; 
    border: 1px solid #ccc; 
    padding: 20px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); 
    z-index: 1000; 
  }

.rating-popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    color: black;
}

.big-textbox {
    width: 200px;
    height: 100px;
}

.button-container {
    padding-top: 2rem;
}